@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.woff?ceb9s") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"],
.intro a span:after,
.text-holder a span:after,
.gallery a span:after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eject-24px:before {
  content: "\e901";
}
.icon-line-angle-right:before {
  content: "\e900";
}
