@mixin intro($h, $pad) {
  height: $h;
  padding: $pad;
}
@mixin intro-strong($fs, $ls, $lh, $mb) {
  font-size: $fs;
  letter-spacing: $ls;
  line-height: $lh;
  margin-bottom: $mb;
}
@mixin intro-a($fs, $fw, $ls) {
  font-size: $fs;
  font-weight: $fw;
  letter-spacing: $ls;
}
@mixin intro-span($top, $left, $fs) {
  top: $top;
  left: $left;
  font-size: $fs;
}
@mixin text-holder-arrow($top, $left, $fs) {
  top: $top;
  left: $left;
  font-size: $fs;
}
@mixin text-holder-p($pl, $fs, $ls) {
  padding-left: $pl;
  font-size: $fs;
  letter-spacing: $ls;
}
@mixin content-p($fs, $fw, $lh, $ls, $mb) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
  margin-bottom: $mb;
}
