*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font: 18px/20px "Montserrat", sans-serif;
  font-weight: 400;
  color: $MineShaft;
}
main {
  width: 100%;
  @include media(">=980px") {
    width: 980px;
    margin: auto;
  }
  @include media(">=1024px") {
    width: 1024px;
  }
}
.desktop-hidden {
  @include media(">=980px") {
    display: none;
  }
}
.mobile-hidden {
  display: none;
  @include media(">=980px") {
    display: contents;
  }
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
// ==========================Header==================
.top-header {
  position: relative;
  background: $headerBg;
  display: flex;
  align-items: center;
  height: 37px;
  width: 100%;
  @include media(">=640px") {
    height: 74px;
  }
  @include media(">=980px") {
    height: 97px;
    width: 980px;
  }
  @include media(">=1024px") {
    width: 1024px;
  }
}
.nav-checkbox {
  position: absolute;
  left: -999999px;
  @include media(">=980px") {
    display: none;
  }
}
.burger {
  position: absolute;
  top: 0;
  left: calc(100% - 40px);
  width: 40px;
  height: 37px;
  background-color: $burger_span_color;
  z-index: 12;
  cursor: pointer;
  @include media(">=640px") {
    width: 82px;
    height: 74px;
    left: calc(100% - 82px);
  }
}
.nav-checkbox:checked ~ ul {
  transform: translate(0, 0);
}
nav label span {
  position: absolute;
  top: 13px;
  left: 13px;
  background-color: #fff;
  width: 15px;
  height: 2px;
  transition: all 0.3s;
  @include media(">=640px") {
    width: 31px;
    height: 4px;
    top: 27px;
    left: 27px;
  }
}
.nav-checkbox:checked ~ label span {
  transition: all 0.3s;
  transform: translate(25%, 0);
  width: 2px;
  left: 19px;
  @include media(">=640px") {
    width: 2px;
    left: 41px;
  }
}
nav label span:first-child {
  @include media(">=640px") {
  }
}
nav label span:nth-child(2) {
  top: 17px;
  @include media(">=640px") {
    top: 35px;
  }
}
nav label span:last-child {
  top: 21px;
  @include media(">=640px") {
    top: 43px;
  }
}
.nav-text {
  color: #fff;
  font-size: 12px;
  padding-left: 18px;
  @include media(">=640px") {
    font-size: 24px;
    padding-left: 36px;
  }
}
ul.nav {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #4a4e50;
  transform: translate(0, calc(-100% - 74px));
  transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  @include media(">=980px") {
    flex-direction: row;
    padding-left: 53px;
    position: static;
    height: fit-content;
    background-color: transparent;
    transform: translate(0, 0);
  }
  li {
    font-size: 20px;
    padding: 15px 20px;
    @include media(">=640px") {
      font-size: 26px;
      padding: 20px 20px;
    }
    @include media(">=980px") {
      padding: 0 31px 0 0;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
    }
    @include media(">=1024px") {
      font-size: 15px;
      font-weight: 400;
      padding: 0 27px 0 0;
    }
  }
  a {
    color: $headerLink;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .active {
    text-decoration: underline;
  }
}
// ======================HEADER-END==========================
// ======================INTRO===============================
.intro {
  max-width: 100%;
  background: linear-gradient(
    135deg,
    rgba(25, 180, 198, 1) 0%,
    rgba(7, 138, 164, 1) 100%
  );
  @include intro(175px, 54px 0 0 26px);
  @include media(">=640px") {
    @include intro(348px, 107px 0 0 52px);
  }
  @include media(">=980px") {
    @include intro(548px, 179px 0 0 76px);
  }
  @include media(">=1024px") {
    @include intro(577px, 193px 0 0 80px);
  }
  strong {
    display: block;
    color: #fff;
    font-weight: 700;
    @include intro-strong(18px, 0.6px, 22px, 7px);
    @include media(">=640px") {
      @include intro-strong(40px, -1.3px, 43px, 32px);
    }
    @include media(">=980px") {
      @include intro-strong(62px, -2.3px, 64px, 56px);
    }
    @include media(">=1024px") {
      @include intro-strong(62px, -0.6px, 66px, 59px);
    }
  }
  a {
    position: relative;
    text-decoration: none;
    color: #fff;
    @include intro-a(11px, 200, 0.3px);
    @include media(">=640px") {
      @include intro-a(20px, 700, 1px);
    }
    @include media(">=980px") {
      @include intro-a(32px, 700, 1px);
    }
    @include media(">=1024px") {
      @include intro-a(32px, 700, 1.6px);
    }
  }
  a span:after {
    content: "\e900";
    position: absolute;
    color: #fff;
    @include intro-span(4px, 219px, 9px);
    @include media(">=640px") {
      @include intro-span(4px, 439px, 17px);
    }
    @include media(">=980px") {
      @include intro-span(8px, 676px, 25px);
    }
    @include media(">=1024px") {
      @include intro-span(9px, 705px, 26px);
    }
  }
}
// ======================INTRO-END===========================
// ======================TEXT-HOLDER=========================
.text-holder {
  position: relative;
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: $Baltic-Sea;
  @include media(">=640px") {
    height: 151px;
  }
  @include media(">=980px") {
    height: 234px;
  }
  @include media(">=1024px") {
    height: 245px;
  }
  p {
    color: $Amethyst-Smoke;
    font-weight: 700;
    @include text-holder-p(27px, 9px, 0.2px);
    @include media(">=640px") {
      @include text-holder-p(53px, 21px, -1.2px);
    }
    @include media(">=980px") {
      @include text-holder-p(83px, 29px, -0.2px);
    }
    @include media(">=1024px") {
      @include text-holder-p(85px, 30px, 0);
    }
  }
  a span {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 70px;
    background-color: $Red-Violet;
    @include media(">=640px") {
      width: 142px;
    }
    @include media(">=980px") {
      width: 218px;
    }
    @include media(">=1024px") {
      width: 228px;
    }
    &:after {
      content: "\e900";
      color: $white;
      position: absolute;
      @include text-holder-arrow(30px, 30px, 13px);
      @include media(">=640px") {
        @include text-holder-arrow(62px, 61px, 24px);
      }
      @include media(">=980px") {
        @include text-holder-arrow(94px, 94px, 35px);
      }
      @include media(">=1024px") {
        @include text-holder-arrow(99px, 98px, 36px);
      }
    }
  }
}
// ======================TEXT-HOLDER-END=====================
// ======================GALLERY=============================
.gallery {
  @include media(">=980px") {
    height: 282px;
    overflow: hidden;
  }
  @include media(">=1024px") {
    height: 294px;
  }
  a span {
    display: block;
    position: relative;
    height: 273px;
    width: 100%;
    background-color: $Blue-Gem;
    @include media(">=640px") {
      height: 549px;
    }
    @include media(">=980px") {
      height: 100%;
      width: 33.333%;
      float: left;
    }
    &:after {
      content: "\e900";
      color: $white;
      position: absolute;
      top: calc(50% - 18px);
      left: calc(50% - 10px);
      font-size: 27px;
      @include media(">=640px") {
        top: calc(50% - 36px);
        left: calc(50% - 19px);
        font-size: 54px;
      }
      @include media(">=980px") {
        top: calc(50% - 20px);
        left: calc(50% - 9px);
        font-size: 27px;
      }
      @include media(">=1024px") {
        top: calc(50% - 20px);
        left: calc(50% - 9px);
        font-size: 27px;
      }
    }
  }
  picture img {
    display: block;
    width: 100%;
    @include media(">=980px") {
      width: 33.333%;
      float: left;
    }
  }
}
// ======================GALLERY-END=========================
.content {
  position: relative;
  background: $headerLink;
  max-width: 100%;
  padding: 31px 35px 35px;
  @include media(">=640px") {
    padding: 74px 76px 35px 74px;
  }
  @include media(">=980px") {
    padding: 117px 78px 35px;
    columns: 370px 2;
    column-gap: 74px;
  }
  @include media(">=1024px") {
    padding: 101px 83px 35px;
    column-gap: 60px;
  }
  h1 {
    color: $Blue-Chill;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.3px;
    margin-bottom: 17px;
    @include media(">=640px") {
      font-size: 28px;
      letter-spacing: 0.4px;
      margin-bottom: 48px;
    }
    @include media(">=980px") {
      position: absolute;
      top: 70px;
      left: 74px;
    }
    @include media(">=1024px") {
      position: absolute;
      top: 55px;
      left: 78px;
      font-size: 27px;
      letter-spacing: 1.1px;
    }
  }
  p {
    color: $textColor;
    font-size: 14px;
    margin-bottom: 28px;
    line-height: 22px;
    letter-spacing: -0.5px;
    font-weight: 400;
    @include media(">=640px") {
      font-size: 22px;
      margin-bottom: 45px;
      line-height: 44px;
      letter-spacing: -0.5px;
      font-weight: 700;
    }
    @include media(">=980px") {
      font-size: 15px;
      font-weight: 400;
      letter-spacing: -0.7px;
      line-height: 26px;
      margin-bottom: 30px;
      text-align: justify;
    }
    @include media(">=1024px") {
      font-size: 15px;
      font-weight: 400;
      letter-spacing: -0.7px;
      line-height: 26px;
      margin-bottom: 30px;
      text-align: justify;
    }
  }
}
