*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font: 18px/20px "Montserrat", sans-serif;
  font-weight: 400;
  color: $MineShaft;
}
main {
  width: 100%;
  @include media(">=980px") {
    width: 980px;
    margin: auto;
  }
  @include media(">=1024px") {
    width: 1024px;
  }
}
.desktop-hidden {
  @include media(">=980px") {
    display: none;
  }
}
.mobile-hidden {
  display: none;
  @include media(">=980px") {
    display: contents;
  }
}
// ==========================Header==================
.top-header {
  position: relative;
  background: $headerBg;
  display: flex;
  align-items: center;
  height: 37px;
  width: 100%;
  @include media(">=640px") {
    height: 74px;
  }
  @include media(">=980px") {
    height: 97px;
    width: 980px;
  }
  @include media(">=1024px") {
    width: 1024px;
  }
}
.nav-checkbox {
  position: absolute;
  left: -999999px;
  @include media(">=980px") {
    display: none;
  }
}
.burger {
  position: absolute;
  top: 0;
  left: calc(100% - 40px);
  width: 40px;
  height: 37px;
  background-color: $burger_span_color;
  z-index: 12;
  @include media(">=640px") {
    width: 82px;
    height: 74px;
    left: calc(100% - 82px);
  }
}
.nav-checkbox:checked ~ ul {
  transform: translate(0, 0);
}
nav label span {
  position: absolute;
  top: 13px;
  left: 13px;
  background-color: #fff;
  width: 15px;
  height: 2px;
  transition: all 0.3s;
  @include media(">=640px") {
    width: 31px;
    height: 4px;
    top: 27px;
    left: 27px;
  }
}
.nav-checkbox:checked ~ label span {
  transition: all 0.3s;
  transform: translate(25%, 0);
  width: 2px;
  left: 19px;
  @include media(">=640px") {
    width: 2px;
    left: 41px;
  }
}
nav label span:first-child {
  @include media(">=640px") {
  }
}
nav label span:nth-child(2) {
  top: 17px;
  @include media(">=640px") {
    top: 35px;
  }
}
nav label span:last-child {
  top: 21px;
  @include media(">=640px") {
    top: 43px;
  }
}
.nav-text {
  color: #fff;
  font-size: 12px;
  padding-left: 18px;
  @include media(">=640px") {
    font-size: 24px;
    padding-left: 36px;
  }
}
ul.nav {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #4a4e50;
  transform: translate(0, calc(-100% - 74px));
  transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  @include media(">=980px") {
    flex-direction: row;
    padding-left: 53px;
    position: static;
    height: fit-content;
    background-color: transparent;
    transform: translate(0, 0);
  }
  li {
    font-size: 20px;
    padding: 15px 20px;
    @include media(">=640px") {
      font-size: 26px;
      padding: 20px 20px;
    }
    @include media(">=980px") {
      padding: 0 31px 0 0;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
    }
    @include media(">=1024px") {
      font-size: 15px;
      font-weight: 400;
      padding: 0 27px 0 0;
    }
  }
  a {
    color: $headerLink;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
// ======================HEADER-END==========================
// ======================INTRO===============================
.intro {
  max-width: 100%;
  background: linear-gradient(
    135deg,
    rgba(25, 180, 198, 1) 0%,
    rgba(7, 138, 164, 1) 100%
  );
  @include intro(175px, 54px 0 0 26px);
  @include media(">=640px") {
    @include intro(348px, 107px 0 0 52px);
  }
  @include media(">=980px") {
    @include intro(548px, 179px 0 0 76px);
  }
  @include media(">=1024px") {
    @include intro(577px, 193px 0 0 80px);
  }
  strong {
    display: block;
    color: #fff;
    font-weight: 700;
    @include intro-strong(18px, 0.6px, 22px, 7px);
    @include media(">=640px") {
      @include intro-strong(40px, -1.3px, 43px, 32px);
    }
    @include media(">=980px") {
      @include intro-strong(62px, -2.3px, 64px, 56px);
    }
    @include media(">=1024px") {
      @include intro-strong(62px, -0.6px, 66px, 59px);
    }
  }
  a {
    position: relative;
    text-decoration: none;
    color: #fff;
    @include intro-a(11px, 200, 0.3px);
    @include media(">=640px") {
      @include intro-a(20px, 700, 1px);
    }
    @include media(">=980px") {
      @include intro-a(32px, 700, 1px);
    }
    @include media(">=1024px") {
      @include intro-a(32px, 700, 1.6px);
    }
  }
  a span:after {
    content: "\e900";
    position: absolute;
    color: #fff;
    @include intro-span(4px, 219px, 9px);
    @include media(">=640px") {
      @include intro-span(4px, 439px, 17px);
    }
    @include media(">=980px") {
      @include intro-span(8px, 676px, 25px);
    }
    @include media(">=1024px") {
      @include intro-span(9px, 705px, 26px);
    }
  }
}
// ======================INTRO-END===========================
.content {
  background: $headerLink;
  max-width: 100%;
  padding: 35px;
  p {
    color: $textColor;
    font-size: 14px;
    margin-bottom: 28px;
    text-align: justify;
    @include media(">=980px") {
      font-size: 20px;
    }
  }
  @include media(">=980px") {
    columns: 370px 2;
    column-gap: 74px;
  }
}
