$MineShaft: #3c3c3c;
$blockPadding: 14px;
$btnPrimaryBg: limegreen;
$Lotus: #854242;

$headerBg: #373c3f;
$headerLink: #ebebeb;
$textColor: #515151;
$burger_span_color: #202529;
$intro_color: #10a9be;
