$MineShaft: #3c3c3c;
$Lotus: #854242;
$Red-Violet: #bc3183;
$white: #fff;
$Baltic-Sea: #27212c;
$Amethyst-Smoke: #a694b5;
$headerBg: #373c3f;
$headerLink: #ebebeb;
$textColor: #515151;
$burger_span_color: #202529;
